.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  height: 100%;
  width: 100%;

  label {
    margin-bottom: 8px;
  }

  .mock-field {
    display: flex;
    align-items: center;
    background-color: var(--input-background-color);
    border-radius: 4px;
    margin-bottom: 12px;
    height: 100%;
    width: 100%;
    border-radius: 6px;

    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
      padding: 0 14px;
      height: 100%;
      border-radius: 6px 0 0 6px;
    }
  }

  input {
    border: none;
    background-color: var(--input-background-color);
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    width: 100%;
  }
}
