<app-default-layout-home (redirect)="redirect('register')" primary="login" (submit)="submit()">
  <form [formGroup]="loginForm">
    <app-input
      title="Email"
      name="email"
      type="email"
      id="email"
      placeholder="johndoe@gmail.com"
      icon="ionMail"
      formControlName="email"
    />

    <app-input
      title="Password"
      name="password"
      type="password"
      id="password"
      placeholder="Write your secret"
      icon="ionLockClosed"
      formControlName="password"
    />
  </form>
</app-default-layout-home>
