<app-default-layout-home (redirect)="redirect('login')" primary="register" (submit)="submit()" [form]="registerForm">
  <form [formGroup]="registerForm">
    <app-input
      title="Email"
      name="email"
      type="email"
      id="email"
      placeholder="johndoe@gmail.com"
      icon="ionMail"
      formControlName="email"
    />

    @if (registerForm.get("email")?.hasError("email") && registerForm.get('email')?.errors){
      <span class="error-message">Email must be a valid email address.</span>
    }

    <app-input
      title="Confirm Email"
      name="confirmEmail"
      type="email"
      id="confirmEmail"
      placeholder="Confirm your email"
      icon="ionMail"
      formControlName="confirmEmail"
    />

    @if (registerForm.hasError('emailMatch')) {
      <span class="error-message">{{registerForm.errors?.['emailMatch'].message}}</span>
    }

    <app-input
      title="Password"
      name="password"
      type="password"
      id="password"
      placeholder="Write your secret"
      icon="ionLockClosed"
      formControlName="password"
    />

    @if (registerForm.get('password')?.hasError('passwordStrength')) {
      @for (error of registerForm.get('password')?.errors?.['passwordStrength'].arrayErrorsMessage; track error){
        <span class="error-message">{{error}}</span>
      }
    }

    <app-input
      title="Confirm Password"
      name="confirmPassword"
      type="password"
      id="confirmPassword"
      placeholder="Confirm your secret"
      icon="ionLockClosed"
      formControlName="confirmPassword"
    />

    @if (registerForm.hasError('passwordMatch')) {
      <span class="error-message">{{registerForm.errors?.['passwordMatch'].message}}</span>
    }

  </form>
</app-default-layout-home>
