main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: center;

  .image-section{
    overflow: hidden;

    image {
      object-fit: cover;
    }
  }

  .login-section{
    flex-grow: 1;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;

    .title-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 12px;
  }
}
